.custom_center {
   max-width: 950px;
   width:95%;
   margin: 0 auto;
   padding: 4px;
   border: 1px solid silver;
   -moz-border-radius: 5px; 
   -webkit-border-radius:5px;
   border-radius: 5px;
}
ul.custom_config li {
   cursor:pointer;
   float:left;
   width:20%;
   -moz-border-radius: 5px; 
   -webkit-border-radius:5px;
   border-radius: 5px;
   margin:0 1% 10px 1%;
   padding:5px 1px;
}
ul.custom_config li:hover {
   background-color:#E8E8E8;
}
ul.custom_config li p {
   padding-top: 8px;
}
ul.custom_config li img {
   float: left;
   margin-right: 2px;
}
div.custom_clear {
   clear: both;
   width:100%;
}


.preview-tabs .tabs-forms {float:left; width:30%}
.preview-tabs ul.x-tab-strip {
   width: 85px !important;
   float:right;
   background:none !important;
   margin-right:55%;
}
.preview-tabs .x-tab-strip-top {border-bottom:none !important; }
.preview-tabs .clear {clear:both;}
.preview-tabs .picto_del {margin-left:10px;}

.custom_headings,
.custom_headings-red,
.custom_headings-green,
.custom_headings-blue,
.custom_headings-black {color:white !important}
.custom_headings-white, .inner-colored-white .custom_headings {color:black !important}

.custom_headings .x-tab-strip-top  .x-tab-right {
background-color:transparent !important;
background-repeat:no-repeat !important;
background-position:0 -51px !important;
background-attachment:scroll !important;
}

.custom_headings .x-tab-strip-top  .x-tab-left {
background-color:transparent !important;
background-repeat:no-repeat !important;
background-position:100% -351px !important;
background-attachment:scroll !important;
}

.custom_headings .x-tab-strip-top .x-tab-strip-inner {
background-color:transparent !important;
background-repeat:repeat-x !important;
background-position:0 -201px !important;
background-attachment:scroll !important;
}



.red .x-tab-left                             {background: url("pics/red.gif") no-repeat scroll right -351px transparent !important;}
.red .x-tab-right                            {background: url("pics/red.gif") no-repeat scroll 0 -51px transparent !important;}
.red .x-tab-strip-inner                      {background: url("pics/red.gif") repeat-x scroll 0 -201px transparent !important;}
.red.x-tab-strip-active .x-tab-left          {background: url("pics/red.gif") no-repeat scroll right -301px transparent !important;}
.red.x-tab-strip-active .x-tab-right         {background: url("pics/red.gif") no-repeat scroll 0 0 transparent !important;}
.red.x-tab-strip-active .x-tab-strip-inner   {background: url("pics/red.gif") repeat-x scroll 0 -151px transparent !important;}

.blue .x-tab-left                            {background: url("pics/blue.gif") no-repeat scroll right -351px transparent !important;}
.blue .x-tab-right                           {background: url("pics/blue.gif") no-repeat scroll 0 -51px transparent !important;}
.blue .x-tab-strip-inner                     {background: url("pics/blue.gif") repeat-x scroll 0 -201px transparent !important;}
.blue.x-tab-strip-active .x-tab-left         {background: url("pics/blue.gif") no-repeat scroll right -301px transparent !important;}
.blue.x-tab-strip-active .x-tab-right        {background: url("pics/blue.gif") no-repeat scroll 0 0 transparent !important;}
.blue.x-tab-strip-active .x-tab-strip-inner  {background: url("pics/blue.gif") repeat-x scroll 0 -151px transparent !important;}

.green .x-tab-left                           {background: url("pics/green.gif") no-repeat scroll right -351px transparent !important;}
.green .x-tab-right                          {background: url("pics/green.gif") no-repeat scroll 0 -51px transparent !important;}
.green .x-tab-strip-inner                    {background: url("pics/green.gif") repeat-x scroll 0 -201px transparent !important;}
.green.x-tab-strip-active .x-tab-left        {background: url("pics/green.gif") no-repeat scroll right -301px transparent !important;}
.green.x-tab-strip-active .x-tab-right       {background: url("pics/green.gif") no-repeat scroll 0 0 transparent !important;}
.green.x-tab-strip-active .x-tab-strip-inner {background: url("pics/green.gif") repeat-x scroll 0 -151px transparent !important;}

.white .x-tab-left                           {background: url("pics/white.gif") no-repeat scroll right -351px transparent !important;}
.white .x-tab-right                          {background: url("pics/white.gif") no-repeat scroll 0 -51px transparent !important;}
.white .x-tab-strip-inner                    {background: url("pics/white.gif") repeat-x scroll 0 -201px transparent !important;}
.white.x-tab-strip-active .x-tab-left        {background: url("pics/white.gif") no-repeat scroll right -301px transparent !important;}
.white.x-tab-strip-active .x-tab-right       {background: url("pics/white.gif") no-repeat scroll 0 0 transparent !important;}
.white.x-tab-strip-active .x-tab-strip-inner {background: url("pics/white.gif") repeat-x scroll 0 -151px transparent !important;}

.black .x-tab-left                           {background: url("pics/black.gif") no-repeat scroll right -351px transparent !important;}
.black .x-tab-right                          {background: url("pics/black.gif") no-repeat scroll 0 -51px transparent !important;}
.black .x-tab-strip-inner                    {background: url("pics/black.gif") repeat-x scroll 0 -201px transparent !important;}
.black.x-tab-strip-active .x-tab-left        {background: url("pics/black.gif") no-repeat scroll right -301px transparent !important;}
.black.x-tab-strip-active .x-tab-right       {background: url("pics/black.gif") no-repeat scroll 0 0 transparent !important;}
.black.x-tab-strip-active .x-tab-strip-inner {background: url("pics/black.gif") repeat-x scroll 0 -151px transparent !important;}
