.custom_center {
   max-width: 950px;
   width:95%;
   margin: 0 auto;
   padding: 4px;
   border: 1px solid silver;
   -moz-border-radius: 5px; 
   -webkit-border-radius:5px;
   border-radius: 5px;
}
ul.custom_config li {
   cursor:pointer;
   float:left;
   width:20%;
   -moz-border-radius: 5px; 
   -webkit-border-radius:5px;
   border-radius: 5px;
   margin:0 1% 10px 1%;
   padding:5px 1px;
}
ul.custom_config li:hover {
   background-color:#E8E8E8;
}
ul.custom_config li p {
   padding-top: 8px;
}
ul.custom_config li img {
   float: left;
   margin-right: 2px;
}
div.custom_clear {
   clear: both;
   width:100%;
}


.preview-tabs .tabs-forms {float:left; width:30%}
.preview-tabs ul.x-tab-strip {
   width: 85px !important;
   float:right;
   background:none !important;
   margin-right:55%;
}
.preview-tabs .x-tab-strip-top {border-bottom:none !important; }
.preview-tabs .clear {clear:both;}
.preview-tabs .picto_del {margin-left:10px;}

.nm_headings,
.nm_headings-red,
.nm_headings-green,
.nm_headings-blue,
.nm_headings-black {color:white !important}
.nm_headings-white, .inner-colored-white .nm_headings {color:black !important}

.x-tab-strip-top  .x-tab-right {
background-color:transparent !important;
background-repeat:no-repeat !important;
background-position:0 -51px !important;
background-attachment:scroll !important;
}

.x-tab-strip-top  .x-tab-left {
background-color:transparent !important;
background-repeat:no-repeat !important;
background-position:100% -351px !important;
background-attachment:scroll !important;
}

.x-tab-strip-top .x-tab-strip-inner {
background-color:transparent !important;
background-repeat:repeat-x !important;
background-position:0 -201px !important;
background-attachment:scroll !important;
}

.right-colored-red,
.left-colored-red ,
.inner-colored-red {background: url("pics/red.gif") !important;}

.right-colored-green,
.left-colored-green ,
.inner-colored-green {background: url("pics/green.gif") !important;}

.right-colored-blue,
.left-colored-blue,
.inner-colored-blue {background: url("pics/blue.gif") !important;}

.right-colored-white,
.left-colored-white,
.inner-colored-white {background: url("pics/white.gif") !important;}

.right-colored-black,
.left-colored-black,
.inner-colored-black {background: url("pics/black.gif") !important;}


